image:
  repository: my-registry/port-manager # Need to change this!
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

storage:
  size: 1Gi
  storageClassName: "" # Leave empty for default